body {
  color: #D1D7E0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.title { font-family: 'Playfair Display'; }

h1 { @extend .title; }
h4 { @extend .title; }
h5 { @extend .title; }
h6 { @extend .title; }

.btn-primary {
  color: #2E3138;
  background-color: #D0D6DF;
  border-color: #D0D6DF;
}

.btn-primary:hover {
  color: #2E3138;
  background-color: #D0D6DF;
  border-color: #D0D6DF;
}

.title-arrow {
  margin-bottom: 30px;
}

.logo {
  width: 100px;
}

/* Navbar */
.navbar {
  width: 100%;
  padding-top: 10px;

  background: transparent;
  color: rgba(255,255,255,.5);

  position: absolute;
  z-index: 2;
}

.navbar-nav {
  border-bottom: 3px solid #D1D7E0;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding: 1em 1.5em;
}


/* Hero */
.hero-container {
  background: url('./images/rustic-wreaths-background.jpg') fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 25%;
}

/* Showcase */
.showcase {
  padding: 80px 100px 60px 100px;
  background-color: #2E3138;
  border-top: 2px solid #CDB67E;

  .display-image {
    width: 370px;
    height: 250px;
    margin-top: 50px;
    border: 2px solid #D1D7E0;
    -webkit-clip-path: polygon(80% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0%);
  }
}

/* About */
.about {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #fafafa;
  border-top: 2px solid #CDB67E;

  h6 { color: #353535; }
  p { color: #8c9398; }
}

/* Masonry */
.masonry-gallery {
  background-color: #2E3138;
  padding: 80px 100px 60px 100px;
  border-top: 2px solid #CDB67E;
}
.masonry {
  column-count: 6;
  column-gap: 1em;
}
.masonry-2 {
  column-count: 2;
  column-gap: 1em;
}
.masonry-3 {
  column-count: 3;
  column-gap: 1em;
}
.item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #CDB67E;

  img { width: 100%; }
}

/* Follow Us */
.follow-us {
  border-top: 2px solid #CDB67E;
  min-height: 450px;
  background: url('./images/follow-us/follow-us-background.jpg') fixed no-repeat center center;
  background-size: cover;

  .fa-tree {
    padding: 100px 0;
    font-size: 3em;
  }
}

/* Contact Form  */
.contact-form {
  border-top: 2px solid #CDB67E;
  background-color: #2E3138;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 2px solid #CDB67E;
}

/* Find Us */
.find-us {
  border-top: 2px solid #CDB67E;
  padding: 80px 100px;
  background-color: #fafafa;
  color: #353535;

  h6 { color: #353535; }

  h6:after {
    border: 2px solid #d1d7e0;
    content: " ";
    display: block;
    margin: 20px auto 15px;
    width: 35px;
  }

  .card { padding: 50px 30px; }
}

.about-page {
  border-top: 2px solid #CDB67E;
  background-color: #2E3138;
  padding-top: 50px;
  padding-bottom: 80px;
}

.trade-show-page {
  border-top: 2px solid #CDB67E;
  background-color: #2E3138;
  padding-top: 50px;
  padding-bottom: 80px;
}

.wreaths-page {
  border-top: 2px solid #CDB67E;
  background-color: #2E3138;
  padding-top: 50px;
  padding-bottom: 80px;
}
